.container {
    border-radius: 20px;

    display: flex;
    flex-direction: row;

    overflow: hidden;

    -webkit-box-shadow: 5px 5px 0px 0px $background;
    -moz-box-shadow: 5px 5px 0px 0px $background;
    box-shadow: 5px 5px 0px 0px $background;
}

.thumbnail {
    width: 120px;
    height: 120px;
    object-fit: cover;
}

.details {
    display: flex;
    flex-direction: column;
    padding: 1.2rem;
    row-gap: 0.5rem;
}

.platforms {
    display: flex;
    flex-direction: row;
    gap: 0.8rem;
}

.platform_icon {
    color: $accent-primary-fallback;
    color: $accent-primary;
    font-size: 1.4rem;

}