.link {
    all: unset;
    display: flex;
    flex-direction: row;
    align-items: top;

    &:hover {
        cursor: pointer;
    }

    @include simple-screen {
        position: relative;
        left: 0;
        column-gap: 0;
    }

    @include rich-screen {
        position: relative;
        left: -65px;
        column-gap: 25px;
    }
}

.month {
    color: $primary-fallback;
    color: $primary;
    font-size: 1.2rem;

    width: 50px;
    text-align: right;

    position: sticky;
    top: 130px;

    @include simple-screen {
        display: none;
    }

    @include rich-screen {
        display: block;
    }
}

.container {
    border-radius: 20px;

    display: flex;
    flex-direction: row;

    overflow: hidden;

    -webkit-box-shadow: 5px 5px 0px 0px $background-fallback;
    -moz-box-shadow: 5px 5px 0px 0px $background-fallback;
    box-shadow: 5px 5px 0px 0px $background-fallback;
    -webkit-box-shadow: 5px 5px 0px 0px $background;
    -moz-box-shadow: 5px 5px 0px 0px $background;
    box-shadow: 5px 5px 0px 0px $background;
}

.thumbnail {
    width: 150px;
    height: 150px;
    object-fit: fill;
}

.details {
    padding: 1.2rem;
    padding-right: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.platforms {
    display: flex;
    flex-direction: row;
    column-gap: 0.8rem;
}

.platform_icon {
    color: $accent-primary-fallback;
    color: $accent-primary;
    font-size: 1.3rem;

}

.name {
    font-size: 1.4rem;
    color: $font-primary-fallback;
    color: $font-primary;
}

.more {
    font-size: 1.2rem;
    color: $font-secondary-fallback;
    color: $font-secondary;
    text-decoration: underline;
}