.link {
    all: unset;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 50px;

    position: relative;
    left: -75px;

    &:hover {
        cursor: pointer;
    }
}

.month {
    color: $primary-fallback;
    color: $primary;
    font-size: 1.2rem;

    width: 50px;
    text-align: right;
}

.container {
    border-radius: 20px;

    display: flex;
    flex-direction: row;

    overflow: hidden;

    min-width: 600px;

    -webkit-box-shadow: 5px 5px 0px 0px $background-fallback;
    -moz-box-shadow: 5px 5px 0px 0px $background-fallback;
    box-shadow: 5px 5px 0px 0px $background-fallback;
    -webkit-box-shadow: 5px 5px 0px 0px $background;
    -moz-box-shadow: 5px 5px 0px 0px $background;
    box-shadow: 5px 5px 0px 0px $background;
}

.thumbnail {
    width: 150px;
    height: 150px;
    object-fit: fill;
}

.details {
    display: flex;
    flex-direction: column;
    padding: 1.2rem;
    padding-right: 2rem;
    justify-content: space-around;
}

.platforms {
    display: flex;
    flex-direction: row;
    column-gap: 0.8rem;
}

.platform_icon {
    color: $accent-primary-fallback;
    color: $accent-primary;
    font-size: 1.3rem;

}

.name {
    font-size: 1.4rem;
    color: $font-primary-fallback;
    color: $font-primary;
}

.more {
    font-size: 1.2rem;
    color: $font-secondary-fallback;
    color: $font-secondary;
    text-decoration: underline;
}