.container {
    display: flex;
    flex-direction: row;
    row-gap: 1rem;

    @include simple-screen {
        padding: 1.5rem;
    }

    @include rich-screen {
        padding: 0;
    }
}

.timeline {
    width: 10%;
    min-height: 100%;
    border-right: 5px solid $primary-fallback;
    border-right: 5px solid $primary;

    @include simple-screen {
        display: none;
    }

    @include rich-screen {
        display: block;
    }
}

.card_list {
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;

    @include simple-screen {
        padding: 0;
    }

    @include rich-screen {
        padding-top: 2rem;
        padding-bottom: 2rem;
        padding-left: 0;
        padding-right: 2rem;
    }
}

.year {
    width: 60px;
    text-align: right;

    color: $secondary-fallback;
    color: $secondary;
    font-size: 1.5rem;
    font-weight: 700;

    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: 100px;
    left: 0;

    transform: translateX(-75px);
    /* transform을 이용하여 왼쪽으로 이동 */

    z-index: 99;

    background-color: $white-fallback;
    background-color: $white;

    -webkit-box-shadow: 0 4px 6px -6px $white-fallback;
    -moz-box-shadow: 0 4px 6px -6px $white-fallback;
    box-shadow: 0 4px 6px -6px $white-fallback;

    -webkit-box-shadow: 0 4px 6px -6px $white;
    -moz-box-shadow: 0 4px 6px -6px $white;
    box-shadow: 0 4px 6px -6px $white;

    @include simple-screen {
        display: none;
    }

    @include rich-screen {
        display: block;
    }
}