.header {
    background-color: $white-fallback;
    background-color: $white;
    display: flex;
    flex-direction: row;
    width: 100wh;
    padding-left: 1.5rem;
    padding-top: 1rem;
    justify-content: center;


    @include simple-screen {
        padding-right: 1.5rem;
    }

    @include rich-screen {
        padding-right: 4rem;
    }
}

.container {
    max-width: $layout-breakpoint-maximum;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logos {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.logos_profile {
    border-radius: 50%;
    margin-right: 2rem;
}

.logos_name {
    color: $font-black-fallback;
    color: $font-black;
    margin-right: 2rem;
    font-size: 1.2rem;

    @include simple-screen {
        display: none;
    }

    @include rich-screen {
        display: block;
    }
}

.menus {
    display: flex;
    column-gap: 1.3rem;
    align-self: stretch;
}