.header {
    background-color: white;
    display: flex;
    flex-direction: row;
    width: 100wh;
    padding-left: 1.5rem;
    padding-right: 4rem;
    padding-top: 1rem;
    align-items: center;
    justify-content: space-between;

    -webkit-box-shadow: 0 4px 6px -6px #222;
    -moz-box-shadow: 0 4px 6px -6px #222;
    box-shadow: 0 4px 6px -6px #222;
}

.logos {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.logos_profile {
    border-radius: 50%;
}

.logos_name {
    margin-left: 2rem;
    font-size: 1.2rem;
}

.menus {
    display: flex;
    column-gap: 1.3rem;
    align-self: stretch;
}