.footer {
    background-color: $primary-fallback;
    background-color: $primary;
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.icons {
    display: flex;
    column-gap: 0.5rem;
}

.icon {
    color: $font-white-fallback;
    color: $font-white;
    font-size: 1.5rem;
}

.copyright {
    color: $font-white-fallback;
    color: $font-white;
    font-size: 0.8rem;
}